{0 {:title "eggs"}, 7 {:title "cesar salad"}, 1 {:title "eggs"}, 4 {:title "beer"}, 6 {:title "pork"}, 3 {:title "bananas"}, 2 {:title "shusi"}, 9 {:title "oven potatos"}, 5 {:title "spagetti"}, 8 {:title "beans on toast"}}
